 html {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
 }

 body {
   background-image: url("imagens/fundo_sobree.jpg");
   display: flex;
   flex-direction: column;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
   margin: 0;
   padding: 0;
 }

 table {
   border-collapse: collapse;
   margin: 0 auto;
 }

 th,
 td {
   border: 1px solid #ddd;
   padding: 8px;
 }

 th {
   background-color: #f2f2f2;
   text-align: left;
 }

 td {
   background-color: #f9f9f9;
 }

 tfoot td {
   font-weight: bold;
 }

 .img-fluid,
 .img-fluid2 {
   width: 90%;
 }

 .ola {
   position: absolute;
   top: 15%;
   right: 9%;
 }

 #menu-container2 {
   display: flex;
 }

 #menu-container2 img {
   display: flex;
   width: 40%;
   margin-top: auto;
 }

 #menu-container {
   position: absolute;
   top: 5%;
   right: 17%;
   display: flex;
   flex-direction: row;
   text-align: center;
   width: 50%;
 }

 #menu-container a {
   margin: 0 auto;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   margin: 15px;
   text-decoration: none;
   color: black;
   box-sizing: border-box;
   text-align: end;
   padding-left: 20px;
 }

 #inicio,
 #sobre,
 #games,
 #filmes,
 #eventos,
 #tecnologia {
   background-color: transparent;
   border: none;
   border-radius: 5px;
   background-repeat: no-repeat;
   background-size: contain;
 }

 #inicio {
   background-image: url("imagens/inicio.png");

 }

 #sobre {
   background-image: url("imagens/sobre.png");
 }

 #games {
   background-image: url("imagens/games.png");
 }

 #tecnologia {
   background-image: url("imagens/tecnologia.png");
 }

 #filmes {
   background-image: url("imagens/filmeicon.png");
 }

 #eventos {
   background-image: url("imagens/eventos.png");
 }

 button[title="Cadastro"]:hover,
 button[title="Login"]:hover,
 button[title="Logout"]:hover {
   color: #0f298f;
   text-shadow: -1px -1px 0px #000000;
   letter-spacing: 0.1em;
 }

 button[title="Usuario"] {
   position: absolute;
   background-color: transparent;
   background-image: url("imagens/usuario.png");
   background-size: contain;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: row;
   cursor: pointer;
   top: 12%;
   right: 9%;
   width: 50px;
   height: 40px;
   margin-right: 10px;
   border: none;
 }

 button[title="Cadastro"],
 button[title="Login"],
 button[title="Logout"] {
   display: block;
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   margin: 0 auto;
   border: 1px solid #000000;
   width: 110px;
   height: 20px;
   border-radius: 20px;
   justify-content: center;
 }

 button[title="Cadastro"] {
   position: absolute;
   top: 15%;
   right: 9%;
 }

 button[title="Login"] {
   position: absolute;
   top: 11%;
   right: 9%;
 }

 button[title="Logout"] {
   position: absolute;
   top: 19%;
   right: 9%;
 }

 .messages {
   border: 2px solid black;
   width: 50%;
   margin: 0 auto;
   justify-content: center;
   background-color: #d4d4d4;
 }

 @font-face {
   font-family: "Mokoto";
   src: url("Mokoto.otf") format("opentype");
 }

 .redes-sociais {
   display: flex;
   align-items: center;
   width: 100%;
   box-sizing: border-box;
   justify-content: flex-end;
 }

 .redes-sociais a {
   text-decoration: none;
   border: transparent;
   cursor: pointer;
   background-color: transparent;
   margin: 15px;
   transition: 0.5s;
 }


 .redes-sociais a:hover {
   text-shadow: -1px -1px 0px #000000;
   letter-spacing: 0.1em;
 }

 #facebook,
 #instagram,
 #twitter {
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   border: none;
   border-radius: 5px;
   width: 30px;
   height: 30px;
   color: #ffffff;
 }

 #facebook {
   background-image: url("imagens/Facebook.png");
 }

 #instagram {
   background-image: url("imagens/Instagram.png");
 }

 #twitter {
   background-image: url("imagens/twitter.png");
 }

 .contato {
   display: flex;
   align-items: center;
 }

 .contato #h2 {
   font-size: 24px;
   font-weight: bold;
   font-family: arial;
 }

 footer {
   background-color: #333;
   color: #fff;
   text-align: center;
 }

 .logo {
   font-size: 14px;
 }

 .contato-1 {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   font-size: 14px;
 }

 .contato-1 ul li {
   display: flex;
   align-items: center;
   margin-bottom: 8px;
 }

 .contato ul li img {
   margin-right: 8px;
 }

 .contato-1 img {
   width: 20px;
   height: 20px;
 }

 ul {
   list-style: none;
 }

 .sidebar {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(11, 74, 156);
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
 }

 .sidebar button,
 .sidebar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #ffffff;
   display: block;
   transition: 0.3s;
   background-color: transparent;
   border: none;
   font-weight: bold;
   cursor: pointer;
 }

 .sidebar button:hover {
   color: #2e2e2e;
 }

 .sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }

 .openbtn {
   background-color: transparent;
   cursor: pointer;
   color: black;
   padding: 10px 15px;
   border: none;
 }

 section h1 {
   text-align: center;
   font-size: 50px;
   margin: 0 auto;
 }

 h2 {
   text-align: center;
   margin: 0 auto;
 }

 .texto,
 .texto2 {
   text-align: center;
   font-size: 26px;
   width: 70%;
   margin: 0 auto;
 }

 .bgs,
 .bgs2 {
   margin: 0 auto;
   display: block;
   width: 900px;
   height: 600px;
 }

 .lista {
   text-align: center;
   font-size: 26px;
   margin: 0 auto;
 }

 @media (max-width: 1366px) {

   .img-fluid,
   .img-fluid2 {
     width: 75%;
   }

   .ola {
     font-size: 11px;
   }

   button[title="Usuario"],
   button[title="Cadastro"],
   button[title="Login"] {
     width: 40px;
     height: 30px;
   }

   button[title="Logout"] {
     position: absolute;
     top: 20%;
     width: 95px;
     height: 20px;
     font-size: 11px;
   }

   #inicio,
   #sobre,
   #games,
   #tecnologia,
   #eventos,
   #filmes {
     font-size: 11px;
     height: 25px;
   }

   section h1,
   h2 {
     font-size: 44px;
   }

   .texto,
   .texto2 {
     font-size: 20px;
   }

   .bgs,
   .bgs2 {
     width: 800px;
     height: 600px;
   }

   .lista {
     font-size: 20px;
   }

   @media (max-width: 1024px) {
     #menu-container a {
       padding-left: 15px;
     }

     .img-fluid,
     .img-fluid2 {
       width: 70%;
     }

     .ola {
       position: absolute;
       top: 16%;
     }

     button[title="Usuario"] {
       position: relative;
       right: 9%;
       top: 12%;
       width: 40px;
       height: 30px;
     }

     button[title="Cadastro"],
     button[title="Login"],
     button[title="Logout"] {
       width: 75px;
       height: 17px;
       font-size: 9px;
     }

     #inicio,
     #sobre,
     #filmes,
     #games,
     #eventos,
     #tecnologia {
       font-size: 10px;
     }

     .redes-sociais a {
       margin: 10px;
     }

     .contato #h2 {
       font-size: 16px;
     }

     .contato p {
       font-size: 16px;
     }

     section h1 {
       font-size: 34px;
     }

     .texto,
     .texo2 {
       font-size: 16px;
     }

     .bgs,
     .bgs2 {
       width: 600px;
       height: 400px;
     }

     .lista {
       font-size: 16px;
     }
   }

   @media (max-width: 800px) {
     #menu-container a {
       padding-left: 10px;
     }

     .img-fluid,
     .img-fluid2 {
       display: none;
     }

     .ola {
       position: absolute;
       top: 15%;
     }

     button[title="Usuario"] {
       position: relative;
       right: 8%;
       top: 11%;
       width: 40px;
       height: 30px;
     }

     button[title="Cadastro"],
     button[title="Login"],
     button[title="Logout"] {
       width: 60px;
       height: 16px;
       font-size: 8px;
     }

     #inicio,
     #games,
     #tecnologia,
     #eventos,
     #filmes,
     #sobre {
       font-size: 8px;
     }

     .contato #h2,
     .contato p,
     .contato-1 {
       font-size: 8px;
     }

     .contato-1 ul li {
       margin-bottom: 7px;
     }

     .contato ul li img {
       margin-right: 7px;
     }

     .redes-sociais a {
       margin: 5px;
     }

     .redes-sociais {
       flex-wrap: wrap;
     }
   }

   .texto,
   .texto2 {
     width: 90%;
     font-size: 14px;
   }

   .bgs,
   .bgs2 {
     width: 300px;
     height: 200px;
   }

   .lista {
     font-size: 14px;
   }
 }