html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("imagens/fundo_sobree.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  padding: 0;
}
.img-fluid {
  width: 90%;
}

.ola {
  position: absolute;
  top: 15%;
  right: 9%;
}

#menu-container2 {
  display:flex;
}

#menu-container2 img{
  display: flex;
  width: 40%;
  margin-top: auto;
}

#menu-container {
  position: absolute;
  top: 5%;
  right: 17%;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 50%;
}

#menu-container button {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 2px;
  transition: 0.5s;
}

#menu-container button:hover {
  color: #0f298f;
  text-shadow: -1px -1px 0px #000000;
  letter-spacing: 0.1em;
}

button[title="Início"] {
  background-color: transparent;
  background-image: url("imagens/inicio.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 12px;
}

button[title="Sobre"] {
  background-color: transparent;
  background-image: url("imagens/sobre.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 107px;
  height: 30px;
}

button[title="Games"] {
  background-color: transparent;
  background-image: url("imagens/games.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 30px;
  font-size: 12px;
}

button[title="Tecnologia"] {
  background-color: transparent;
  background-image: url("imagens/tecnologia.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  font-size: 12px;
}

button[title="Filmes"] {
  background-color: transparent;
  background-image: url("imagens/filmeicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 30px;
  font-size: 12px;
}

button[title="Eventos"] {
  background-color: transparent;
  background-image: url("imagens/eventos.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
}

button[title="Cadastro"]:hover {
  color: #0f298f;
  text-shadow: -1px -1px 0px #000000;
  letter-spacing: 0.1em;
}

button[title="Login"]:hover {
  color: #0f298f;
  text-shadow: -1px -1px 0px #000000;
  letter-spacing: 0.1em;
}

button[title="Logout"]:hover {
  color: #0f298f;
  text-shadow: -1px -1px 0px #000000;
  letter-spacing: 0.1em;
}

button[title="Usuario"] {
  position: absolute;
  background-color: transparent;
  background-image: url("imagens/usuario.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  top: 12%;
  right:9%;
  width: 50px;
  height: 40px;
  margin-right: 10px;
  border: none;
}

button[title="Cadastro"] {
  position: absolute;
  top: 15%;
  right: 9%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  cursor: pointer;
  border: 1px solid #000000;
  margin: 0 auto;
  width: 110px;
  height: 20px;
  border-radius: 20px;
  justify-content: center;
}

.messages {
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  background-color:  #d4d4d4;
}

.message {
  border: 1px solid black;
}

.messages h1 {
  text-align: center;
}

.msg2 {
  background-color: #d4d4d4;
  border: 2px solid black;
}

.message {
  margin-top: 5px;
}

.msg {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  transition: 0.5s;
}

.msg form  input[type="text"] {
  margin-top: 5px;
  width: 93%;
  height: 30px;
}

.msg form button[type="submit"] {
  height: 30px;
  color: white;
  background-color: #404040;
}

.msg form button[type="submit"]:hover {
  background-color: #0f298f;
}

button[title="Login"] {
  position: absolute;
  top: 11%;
  right: 9%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid #000000;
  width: 110px;
  height: 20px;
  border-radius: 20px;
  justify-content: center;
}

button[title="Logout"] {
  position: absolute;
  top: 19%;
  right: 9%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid #000000;
  width: 110px;
  height: 20px;
  border-radius: 20px;
  justify-content: center;
}

@font-face {
  font-family: "Mokoto";
  src: url("Mokoto.otf") format("opentype");
}

.redes-sociais {
  display: flex;
  align-items: center; 
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  justify-content: flex-end;
}

.redes-sociais button {
  border: transparent;
  cursor: pointer;
  font-size: 12px;
  background-color: transparent;
  padding: 1px;
  transition: 0.5s;
}

.redes-sociais button:hover {
  color: #000000;
  text-shadow: -1px -1px 0px #000000;
  letter-spacing: 0.1em;
}

button[title="Facebook"] {
  background-color: transparent;
  background-image: url("imagens/Facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  margin: 0 5px;
  color: #ffffff;
}

button[title="Instagram"] {
  background-color: transparent;
  background-image: url("imagens/Instagram.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  margin: 0 5px;
  color: #ffffff;
}

button[title="Twitter"] {
  background-color: transparent;
  background-image: url("imagens/twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  margin: 0 5px;
  color: #ffffff;
}

.contato {
  display: flex;
  align-items: center;
}

.contato h1 {
  font-size: 20px;
}

.contato-1 ul h1 {
  font-family: arial;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.logo {
  font-size: 14px;
}

.contato-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

.contato-1 ul li{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contato ul li img {
   margin-right: 8px;
}
.contato-1 img {
  width: 20px;
  height: 20px;
}

ul {
  list-style: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(11, 74, 156);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar button,
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.sidebar button:hover {
  color: #2e2e2e;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  background-color: transparent;
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  border: none;
}

.container-b{
  font-family: "Mokoto";
  letter-spacing: 2px;
  font-size: 25px;
  word-spacing: 15px;
  justify-content: center;
  text-align: left;
  align-items: flex-end;
}

.text1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color:  rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
  opacity: 20;
  margin-top: -5px;
}

.teste {
  position: relative;
  display: inline-block; 
}

.teste {
  animation-name: fade;
  animation-duration: 1s;
}

.robo-s{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  word-spacing:10px;
  justify-content: right;
  text-align: rigth;
  align-items: flex-end;
}

.robo-t{
  font-family: Arial;
  letter-spacing: 0px;
  font-size:10px;
  word-spacing: 2px;
  justify-content: right;
  text-align: rigth;
  align-items: flex-end;
}

.Tec-a{
color: #0a0a0b;
font-family: "Mokoto";
text-shadow: -1px -1px 0px #1b1818;
letter-spacing: 0.1em;
}

.tec  {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Tec-a h1 {
  color: black;
}

.tec img {  
  width: 200px;
  height: 200px;
  margin: 5px;
  transition: transform 0.60s;
  border-radius: 30px;
  padding: 0px; 
  display: inline-block; 
  margin: 10px;
}

.tec img:hover {
  transform: scale(1.1);
  border: 3px ridge #0400ff;
  width: 250px;
  height: 250px;
  align-items: center;
}

.slideshow-container {
  position: relative;
  max-width: 30%;
  overflow: hidden;
  text-align: center;
  display: block; 
  margin: 0 auto;
}

.slide {
  position: relative;
  display: inline-block; 
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

.h1{
  display:flex;
  justify-content: center; 
  align-items: center; 
  height: 200px; 
  text-align: center;
}

  .h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .chip-b{
    display:flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
  }

  .chip-c{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    flex-wrap: wrap;
  }

  .sub{
    color: darkblue;
    font-style: italic;
    font-weight: bold;
  }

  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .news-item {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
  }

  .news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .news-item h2 {
    font-size: 18px;
    margin: 0 0 10px;
  }

  .news-item p {
    font-size: 14px;
    color: #666;
    margin: 0 0 10px;
  }

  .news-item a {
    display: inline-block;
    color: #114379;
    text-decoration: none;
  }

  .news-item a:hover {
    text-decoration: underline;
  }

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dots-container {
  text-align: center;
  margin-top: 10px;

}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;

}

.dot.active {
  background-color: #717171;
}

.slide img {
  max-width: 100%; 
  height: 400px;
  border-radius: 30px;
  align-items: center;
}

.text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  opacity: 30;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.news-item {
  width: 400px;
  height: 400px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
}

.news-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.news-item h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.news-item p {
  font-size: 14px;
  color: #666;
  margin: 0 0 10px;
}

.news-item a {
  display: inline-block;
  color: #114379;
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}

.carousel-container {
  position: relative;
  width: 400px; 
  height: 200px; 
  overflow: hidden;
}

.carousel {
  display: flex;
}

.carousel-item {
  flex: 400px; 
  height: 100%; 
  margin-right: 10px;
  background-color: #ddd; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

@media (max-width: 1366px) {
  .img-fluid {
    width: 75%;
  }

  .chip-c {
    width: 60%;
  }

.ola {
font-size: 11px;
}

 button[title="Usuario"],button[title="Cadastro"],  button[title="Login"] {
   width: 40px;
   height: 30px;
 }

 button[title="Logout"] {
   position: absolute;
   top: 20%;
   width: 95px;
   height: 20px;
   font-size: 11px;
 }

 button[title="Início"] {
   width: 90px;
   height: 25px;
   font-size: 11px;
 }

 button[title="Sobre"] {
   font-size: 11px;
   width: 95px;
   height: 25px;
 }

 button[title="Games"] {
   width: 95px;
   height: 25px;
   font-size: 11px;
 }

 button[title="Tecnologia"] {
   width: 110px;
   height: 25px;
   font-size: 11px;
 }

 button[title="Filmes"] {
   width: 100px;
   height: 25px;
   font-size: 11px;
 }

 button[title="Eventos"] {
   width: 100px;
   height: 25px;
   font-size: 11px;
 }
}
@media (max-width: 1024px) {
  header .img-fluid {
    width: 70%;
  }
   .ola {
     position: absolute;
     top: 16%;
   }

  button[title="Usuario"] {
    position: relative;
    right: 9%;
    top: 12%;
    width: 40px;
    height: 30px;
  }

  button[title="Cadastro"], button[title="Login"], button[title="Logout"] {
    width: 75px;
    height: 17px;
    font-size: 9px;
  }

  button[title="Início"] {
    width: 70px;
    height: 20px;
    font-size: 9px;
  }

  button[title="Sobre"] {
    font-size: 9px;
    width: 70px;
    height: 20px;
  }

  button[title="Games"] {
    width: 70px;
    height: 20px;
    font-size: 9px;
  }

  button[title="Tecnologia"] {
    width: 85px;
    height: 20px;
    font-size: 9px;
  }

  button[title="Filmes"] {
    width: 75px;
    height: 20px;
    font-size: 9px;
  }

  button[title="Eventos"] {
    width: 85px;
    height: 20px;
    font-size: 9px;
  }

 .redes-sociais button {
   font-size: 10px;
 }

   button[title="Facebook"] {
     width: 120px;
     height: 20px;
   }

   button[title="Instagram"] {
     width: 120px;
     height: 20px;
   }

   button[title="Twitter"] {
     width: 120px;
     height: 20px;
   }

 .contato h1 {
   font-size: 16px;
 }

 .contato p {
   font-size: 16px;
 }

 .slide img {
  width: 300px;
  height: 300px;
 }

 .text {
  font-size: 14px;
 }
}
 @media (max-width: 800px) {
  header .img-fluid {
    display: none;
  }

  .ola {
    position: absolute;
    top: 15%;
  }

  button[title="Usuario"] {
    position: relative;
    right: 8%;
    top: 11%;
    width: 40px;
    height: 30px;
  }

  button[title="Cadastro"],  button[title="Login"],  button[title="Logout"] {
    width: 50px;
    height: 16px;
    font-size: 8px;
  }

  button[title="Início"],  button[title="Sobre"],  button[title="Games"], button[title="Tecnologia"], button[title="Filmes"],  button[title="Eventos"] {
    width: 50px;
    height: 15px;
    font-size: 8px;
  }

 .contato h1, .contato p, .contato-1,.novi-contaianer p, .redes-sociais button {
   font-size: 8px;
 }

  .contato-1 ul li{
    margin-bottom: 7px;
  }

  .contato ul li img {
     margin-right: 7px;
  }

  button[title="Instagram"],  button[title="Facebook"],  button[title="Twitter"] {
     width: 80px;
     height: 20px;
  }

  .redes-sociais {
     flex-wrap: wrap;
  }

  .chip-c {
    width: 85%;
  }

  .h1 {
    font-size: 14px;
  }

  .teste img{
    height: 150px;
    width: 150px;
  }

  .text1 {
    font-size: 10px;
  }

  .slide img {
    width: 200px;
    height: 200px;
  }

  .text {
    font-size: 10px;
  }
 }
