.box {
    width: 300px; /* largura da box */
    height: 200px; /* altura da box */
    border: 1px solid #000; /* borda preta de 1px */
    padding: 20px; /* espaço interno da box */
    margin-left: 30%;
}

Testarei, so um segundo
Não sei kkkkkkkk
testa ai 
 no body né
